.radio__item {
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.radio__item > input[type="radio"] {
  display: none;
}

.radio__item .filter__radio {
  border: 1px solid #222021;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
}

.radio__item .filter__radio::before {
  content: "";
  display: block;
  background: #4f4cee;
  width: 12px;
  height: 12px;
  transition: 0.3s all ease-in-out;
  opacity: 0;
}

.radio__item > input[type="radio"]:checked + .filter__radio::before {
  opacity: 1;
}

.radio__item > input[type="radio"]:checked ~ span {
  color: #4f4cee;
}

body {
  background: #fbfbfb;
  font-family: Arial;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}

.filter__section__header {
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
}

/* **********************************HANDLING DROPDOWN************/

/* ***********************
* POSITION SECTION EFFECT
************************* */
.position {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}
.position__container > input[type="checkbox"]:checked ~ .position {
  max-height: 10rem;
}

.position__container
  > input[type="checkbox"]:not(checked)
  + label
  > .icofont-rounded-up {
  display: none;
}

.position__container
  > input[type="checkbox"]:checked
  + label
  > .icofont-rounded-up {
  display: inline-block;
}

.position__container
  > input[type="checkbox"]:checked
  + label
  > .icofont-rounded-down {
  display: none;
}

/* ***********************
* HOMECAR SECTION EFFECT
************************* */

.homecar {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}
.homecar__container > input[type="checkbox"]:checked ~ .homecar {
  max-height: 10rem;
}

.homecar__container
  > input[type="checkbox"]:not(checked)
  + label
  > .icofont-rounded-up {
  display: none;
}

.homecar__container
  > input[type="checkbox"]:checked
  + label
  > .icofont-rounded-up {
  display: inline-block;
}

.homecar__container
  > input[type="checkbox"]:checked
  + label
  > .icofont-rounded-down {
  display: none;
}

/* ***********************
* PRICE FILTER SECTION EFFECT
************************* */
.range-filter {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}

.price__container > input[type="checkbox"]:checked ~ .range-filter {
  max-height: 10rem;
}

.price__container
  > input[type="checkbox"]:not(checked)
  + label
  > .icofont-rounded-up {
  display: none;
}

.price__container
  > input[type="checkbox"]:checked
  + label
  > .icofont-rounded-up {
  display: inline-block;
}

.price__container
  > input[type="checkbox"]:checked
  + label
  > .icofont-rounded-down {
  display: none;
}

/* ************************************************************************* */
.body__container {
  display: flex;
  gap: 5rem;
}

.filter__advance {
  width: 20rem;
}

.ticket__header p {
  /* font-weight: bold; */
  padding-top: 1rem;
  color: white;
}

.time_departure {
  display: flex;
  gap: 1rem;
}

.time_departure img {
  max-width: 100%;
  height: auto;
}
.view_message {
  display: none;
}
.view_detail_checkbox {
  display: none;
}
/**********************
/ RESPONSIVE
/* ******************** */

@media only screen and (max-width: 600px) {
  .body__container {
    display: block;
  }
  .ticket__header {
    display: none !important;
  }
  .time_departure ~ div,
  .time_departure ~ p {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: 1s;
  }

  .view_message {
    display: block;
  }
  .view_detail_checkbox:checked ~ div,
  .view_detail_checkbox:checked ~ p {
    /* display: block; */
    max-height: 3rem;
    display: block;
  }
}

/**********************/
.range-filter {
  /* padding-top: 10px; */
  width: 240px;
  /* margin: auto; */
  /* margin-bottom: 10px; */
}
.range-controls {
  position: relative;
  height: 60px;
  margin-bottom: 15px;
  padding: 0 30px;
  border-radius: 5px;
  overflow: hidden;
}
.scale {
  margin-top: 39px;
  height: 2px;
  background: #d7dcde;
}
.bar {
  height: 2px;
  background: #4f4cee;
}
.toggle {
  position: absolute;
  top: 32px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid #4f4cee;
  /* background: #4f4cee; */
  cursor: pointer;
  border-radius: 50%;
}
.min-toggle {
  left: 70px;
}
.max-toggle {
  left: 165px;
}

.price-controls {
  padding: 0 30px;
  display: flex;
  gap: 1px;
}

.price-controls p {
  padding-top: 12px;
}

.price-controls input {
  width: 5.6rem;
  padding: 8px 15px;
  /* margin-left: 15px; */
  font-size: 16px;
  font-family: "Tahoma", sans-serif;
  text-align: center;
  /* border-radius: 5px; */
  border: none;
  color: black;
}

.min-price {
  /* margin-right: 14px; */
  padding: 0 3rem;
}
/**********************/
.isfont20 {
  font-size: 2rem;
}

.isfont18 {
  font-size: 18px;
}

.isbold {
  font-weight: bold;
}

.isboder_bottom {
  border-bottom: solid #666666 0.5px;
}

.isBGLightGrey {
  background-color: #f7f7f7;
}

.isPurple {
  color: #4f4cee;
}

.row.mt-2.mb-2.isboder_bottom:hover {
  background: #f28730;
  color: white;
}
