<link rel="stylesheet" type="text/css" href="../css/contact.css">

<link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/040bc95231.js"
            crossorigin="anonymous"></script>

<br>
<div class="container">
  <div class="row justify-content-center">


    <div class="col-sm-10">
      <img class="img-responsive " src="../img/busVexe.png" width="100%" alt="VEXE">
    </div>
  </div>
  <br>

  <div class="row justify-content-left">
    <div class="col-sm-12">
      <br>
      <h2 class="news-title bold">Thêm đối tác</h2>
      <br>
      <form class="contact-form padding align-input"action="" method="POST">
        <div class="Ten font20 padding bold " for="name">Tên nhà xe:</div>
        <input title="Họ tên" type="text" id="name" name="name"  style="width: 85%;" required >
        <div class="SDT font20 padding bold " for="phone">Số điện thoại:</div>
        <input type="text" id="phone" name="phone"  style="width: 85%;" >
        <div class="Mail font20 padding bold" for="email">Loại xe: </div>
        <div class="checkboxes" name = "x">
        <span>
        <label><input type="checkbox" name="xz" value="63b293c990125723ef71d399">Ghế ngồi</label>
        <label><input type="checkbox" name="xz" value="63b2947f90125723ef71d39a"> <span>Giường nằm</span> </label>
        <label><input type="checkbox" name="xz" value="63b2949190125723ef71d39b"> <span>Limousine</span> </label>
        </span>
        </div>            

        <div>
          <input type="submit" value="Submit" class="btn-primary">
        </div>
        <br>
      </form>
    </div>

  </div>


</div>
<br>

