<main>
    <div class="container">
        <h2 class="title">Quản lý hệ thống</h2>
        <br>
        <div class="row">
            <div class="col-xl-6 col-md-12 col-12 col mr-bot wow bounceInLeft">
                <div class="row is-margin-rl-20">
                   <a href="/manage_partner">
                        <button class="btn-org" style="margin-bottom: 20px">Quản lý nhà xe</button></a>
                </div>
            </div>
            <div class="col-xl-6 col-md-12 col-12 col mr-bot wow bounceInRight">
                <div class="row is-margin-rl-20">
                        <a href="/manage_trip_list">
                        <button class="btn-yellow" style="margin-bottom: 20px">Quản lý chuyến xe</button></a>
                </div>
            </div>
            <div class="col-xl-6 col-md-12 col-12 col mr-bot wow bounceInLeft">
                <div class="row is-margin-rl-20">
                    <a href="/manage_history">
                        <button class="btn-green" style="margin-bottom: 20px">Quản lý vé đặt</button></a>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 col-12 col mr-bot wow bounceInRight">
                <div class="row is-margin-rl-20">
                    <a href="/manage_contact"><button class="btn-blue" style="margin-bottom: 20px">Nội dung phản  hồi</button></a>
                 </div>
            </div>

        </div>
    </div>
</main>