
  <link rel="stylesheet" type="text/css" href="../css/history.css">
  

  <main>
    <section style="width: 30rem">
      <article class="row grid-choice">
        <div class="col-lg-4 col-sm-12 is-magrin-bot-15">
          <button class="grid-choice-item-active">Nhà xe </button>  
        </div>
        <div class="col-lg-4 col-sm-6 is-magrin-bot-15">
          <button class="grid-choice-item">Chuyến xe</button>  
        </div>
        <div class="col-lg-4 col-sm-6 is-magrin-bot-15">
          <button class="grid-choice-item">Vé Xe </button>  
        </div>
      </article>
      
      
    </section>
  </main>
<script>
  function changeChoice(e) {
    let text = e.target.textContent;
    let value = text == "Đang thực hiện " ? 0 : text == "Đã hoàn tất " ?1 : 2;
    let count = 0;
    trips.forEach(trip => {
      trip.className = "trip";
      if (count == value){
        trip.className = "trip-hidden";
      }
      ++count;
    });
    choices.forEach((c) => {
      c.className = "grid-choice-item";
    })
    e.target.className = "grid-choice-item-active";
  }
  var choices = document.querySelectorAll(".grid-choice button");
  choices.forEach(choice => choice.addEventListener("click", changeChoice));
  var trips = document.querySelectorAll("article.trip");

</script>