
      <link rel="stylesheet" href="../css/ticket_list.css" />
      <main>
         
         <div class="container ">
            <div class="row">
               <div class="col-sm-10 ">
                  <h1 class="title">Quản lý nhà xe</h1>
               </div>
               <div class=" p-3 col-sm-2 float-end">
                  <a href="/manage_garage">
                        <button class="btn-more">Thêm nhà xe</button></a>
               </div>
            </div>
            <div class="row">
               <!-- 
               <div class="filter__advance col-md-3 col-sm-12 col-12">
                  
               </div>-->
               
            </div>
         </div>
      </main>

      <script>
        
      </script>