
        .type-bus {
            margin-right: 1rem;
        }

        .icon {
            background: white;
            padding-top: 1px;
            text-align: center;
            border: solid #4F4CEE 1.5px;
            width: 35px;
            height: 30px;
            font-size: 25px;
            color: #4F4CEE;
            margin-bottom: 1rem;
            margin-right: 1rem;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .bold {
            font-weight: bold;
        }

        .font25 {
            font-size: 25px;
        }

        .header {
            padding-top: 1rem;
            padding-bottom: 1rem
        }

        .info {
            padding-right: 5%;
        }

        .news-brief {
            padding-left: 40px;
        }

        .items {
            width: 100%;
            height:auto;
            text-align: left;
            background: white;
        }  
        .partner_name
        {
            color: orange;
        }
        .comment_divisor
        {
            font-size: 25px;
            /* text-align: center; */
            padding-left: 2rem;
            color: grey;
        }    
        
        .border_round {
            border-radius: 50%;
          }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
        .comment-info {
            font-size: 14px;
            
        }
        .ratings i{
                color:#cecece;
        }
        .rating-color{
            color:#fbc634 !important;
        }
       
 /***********************************************
 ****************** FORM   ******************************/       
 .rate {
    display: inline-block;
    height: 46px;
    padding: 0 20px;
}

.rate:not(:checked)>input {
    display: none;
    /* position: absolute;
    top: -9999px; */
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 40px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

/**/

.comment{
    margin: 1rem 1rem 0 1rem;
    width: calc(100% - 2rem);
    height: 8rem;
    text-align:left;
    padding: 0.5rem;
}

.status{
    display: flex;
    justify-content: end;
}

.status p{
    color:#f2754e;
    margin-right: 1rem;
    font-size: 1.5rem;
}

/************************************
************************************/


/***********************
********************/
.name_garage_container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.name_garage_container img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: 3px solid #f15a24;
}

.name_garage_container div {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-title {
    font-size: 33px;
}

.detail_garage {
    padding: 0 2rem;
}

.detail_garage p {
    font-size: 1.3rem;
}

/**** FORM ****/
.form_rating {
    width: 55rem;
    padding: 2rem 0;
    border: solid 3px gray;
}

.isOrange {
    background-color: #f15a24;
}

.confirm_button_container {
    padding: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm_button {
    /* margin: 1rem 0; */
    border-radius: 10px;
}